@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');
body {
    background: url(img/wallpaper);
    background-size: 100%;
    background-attachment: fixed;
}

table {
    margin-top: 5vh;
    border-top-left-radius: 5.5vh;
    border-bottom-right-radius: 5.5vh;
    position: absolute;
    margin: 0 10%;
}

table,
td,
th {
    background: rgba(255, 255, 255, 0.397);
    border: #000000 2px solid;
    border-spacing: 0;
}

.linha {
    padding: 0;
}

th {
    border-top-left-radius: 5vh;
    font-size: 10vh;
    padding: 1vh;
}

td {
    padding: 2vh;
}

tr:last-child > .ultima:last-child {
    border-bottom-right-radius: 5vh;
}

.direito {
    border-bottom-right-radius: 5vh;
}

.dados {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 2vh;
    font-weight: 900;
}

.botoes {
    background: inherit;
    border: inherit;
}

#proximo {
    position: absolute;
    right: 0;
}